body{
    background-color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-left: 100px;
    margin-right: 100px;
    
}

.movie {
    padding: 5px 25px 10px 25px;
    max-width: 100%;
  }


  .search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
    justify-content: right;
  }

  input{
    outline: auto;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    margin-left: 10px;
    cursor: pointer;  
  }

  img{
    border-radius: 10px;
  }



  @media screen and (min-width: 694px) and (max-width: 915px) {
    .movie {
      max-width: 33%;
    }
  }
  
  @media screen and (min-width: 652px) and (max-width: 693px) {
    .movie {
      max-width: 50%;
    }
  }
  
  
  @media screen and (max-width: 651px) {
    .movie {
      max-width: 100%;
      margin: auto;
    }
  }
  